<div class="container">
  <div class="wrapper">
    <div class="text-input">
      <textarea
        spellcheck="false"
        class="from-text"
        placeholder="Enter text"
        [(ngModel)]="fromText"
      ></textarea>
      <textarea
        spellcheck="false"
        readonly
        disabled
        class="to-text"
        placeholder="Translation"
        [(ngModel)]="toText"
      ></textarea>
    </div>
    <ul class="controls">
      <li class="row from">
        <div class="icons">
          <i (click)="speak('from')" class="fas fa-volume-up"></i>
          <i (click)="copyText('from')" class="fas fa-copy"></i>
        </div>
        <select [(ngModel)]="translateFrom">
          <option
            *ngFor="let country of countriesList"
            [value]="country.value"
            [selected]="country.value === 'en-GB'"
          >
            {{ country.label }}
          </option>
        </select>
      </li>
      <li class="exchange" (click)="exchangeLanguages()">
        <i class="fas fa-exchange-alt"></i>
      </li>
      <li class="row to">
        <select [(ngModel)]="translateTo">
          <option
            *ngFor="let country of countriesList"
            [value]="country.value"
            [selected]="country.value === 'hi-IN'"
          >
            {{ country.label }}
          </option>
        </select>
        <div class="icons">
          <i (click)="speak('to')" class="fas fa-volume-up"></i>
          <i (click)="copyText('to')" class="fas fa-copy"></i>
        </div>
      </li>
    </ul>
  </div>
  <button (click)="translateText()">Translate Text</button>
</div>
